<div id="new_medicine_form">
  <%= form_for @medicine, remote: true, :display => :inline  do |f| %>
    <tr>
      <%= f.hidden_field :hospital_id, :value => @hospital %><
      <td><%= f.text_field :name %></td>
      <td><%= f.hidden_field :category, :value => "" %>
      <td><%= f.hidden_field :description, :value => "" %>
      <td><%= f.check_box :restricted %></td>
      <td><%= f.number_field :quantity %></td>
      <td><%= f.submit %></td>
    </tr>
  <% end %>
</div>