<div id="new_medicine_form">
  <%= form_for @medicine, remote: true, :display => :inline  do |f| %>
      <%= f.submit "Confirm", class: 'btn btn-success' %>
      <%= f.text_field :hospital_id, :placeholder => "Hospital ID" %>
      <%= f.text_field :name, placeholder: "Name" %>
      <%= f.text_field :category, :value => "Category", hidden: true %>
      <%= f.text_area :description, :value => "Description", hidden: true %>
      <%= f.label "Restricted?" %>
      <%= f.check_box :restricted %>
      <%= f.number_field :quantity, placeholder: "Quantity" %>
  <% end %>
</div>