<%= form_for(@copter) do |f| %>
  <% if @copter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@copter.errors.count, "error") %> prohibited this copter from being saved:</h2>

      <ul>
      <% @copter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hospital %><br>
    <%= f.text_field :hospital %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :last_latitude %><br>
    <%= f.text_field :last_latitude %>
  </div>
  <div class="field">
    <%= f.label :last_longitude %><br>
    <%= f.text_field :last_longitude %>
  </div>
  <div class="field">
    <%= f.label :available %><br>
    <%= f.check_box :available %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
