<div id="new_user_form">
  <%= form_for @user, remote: true do |f| %>
      <%= f.submit "Confirm", class: 'btn btn-success' %>
      <%= f.text_field :hospital_id, :placeholder => "Hospital ID", class: "form-control" %>
      <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
      <%= f.text_field :phone_number, placeholder: "123-456-7890", class: "form-control" %>
      <%= f.number_field :priveledge, placeholder: "Priveledge", class: "form-control" %>
  <% end %>
</div>
