<div id="new_history_form">
  <%= form_for @history, remote: true, :display => :inline do |f| %>
    <%= f.submit "Confirm", class: 'btn btn-success' %>
    <%= f.text_field :copter_id, placeholder: "Copter ID" %>
    <%= f.text_field :hospital_id, placeholder: "Hospital ID" %>
    <%= f.text_field :destination_id, placeholder: "Destination ID" %>
    <%= f.text_field :time_left, placeholder: "Time Left" %>
    <%= f.text_field :time_delivered, placeholder: "Time Delivered" %>
    <%= f.text_field :time_returned, placeholder: "Time Returned" %>
  <% end %>
</div>