<html>
<body>
 
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Some Store</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Price List" %></li>
          <li><%= link_to "Contact Us" %></li>
          <li><%= link_to "Cart" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div style = "padding-right: 10%; padding-left: 10%;">

  <p id="notice"><%= notice %></p>

  <div class="row-fluid">
    <div style="padding-left: 3px; padding-right: 30px;">

      <div class="span4">

        <p>
          <strong>Name:</strong>
          <%= @hospital.name %>
        </p>

        <p>
          <strong>Latitude:</strong>
          <%= @hospital.latitude %>
        </p>

        <p>
          <strong>Longitude:</strong>
          <%= @hospital.longitude %>
        </p>

        <%= link_to 'Edit', edit_hospital_path(@hospital) %> |
        <%= link_to 'Back', hospitals_path %>
        <div class="row">

          <h3>place holder for add user</h3>

        </div>

        <h3>Admins</h3>
        <hr>
        <table class="table table-striped"> 
          <thead>
            <tr>
              <th style="width: 7%"></th>
              <th style = "width: 40%">Name</th>
              <th style = "width: 36%">Phone number</th>
              <th style = "width: 10%">Priveledge</th>
              <th style = "width: 7%"></th>
            </tr>
          </thead>

          <tbody>
            <% @admins.each do |user| %>
            <tr>
              <td><%= link_to raw('<i class="icon-edit"></i>'), edit_medicine_path(medicine), :class => 'btn btn-default' %></td>
              <td><%= user.name %></td>
              <td><%= user.phone_number %></td>
              <td><%= user.priveledge %></td>
              <td>        
               <%= link_to raw('<i class="icon-remove"></i>'), medicine, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>

             </td>
           </tr>
           <% end %>
         </tbody>
         <tfooter>
         </table>

         <hr>

         <h3>Users</h3>

         <hr>
         <table class="table table-striped"> 
          <thead>
            <tr>
              <th>Name</th>
              <th>Phone number</th>
              <th>Priveledge</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.phone_number %></td>
              <td><%= user.priveledge %></td>
              <td><%= link_to 'Show', user %></td>
              <td><%= link_to 'Edit', edit_user_path(user) %></td>
              <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>


        <hr>
        <h3>Restricted Users</h3>

        <hr>
        <table class="table table-striped"> 
          <thead>
            <tr>
              <th style="width: 7"></th>
              <th style="width: 36">Name</th>
              <th style="width: 40">Phone number</th>
              <th style="width: 10">Priveledge</th>
              <th style="width: 7"></th>
            </tr>
          </thead>

          <tbody>
            <% @restricted_users.each do |user| %>
            <tr>
              <td><%= link_to raw('<i class="icon-edit"></i>'), edit_user_path(user), :class => 'btn btn-default' %></td>
              <td><%= user.name %></td>
              <td><%= user.phone_number %></td>
              <td><%= user.priveledge %></td>
              <td>        
               <%= link_to raw('<i class="icon-remove"></i>'), user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>

             </td>
            </tr>
            <% end %>
          </tbody>
        </table>





        <hr>
        <h3>History</h3>

        <hr>
        <table class="table table-striped"> 
          <thead>
            <tr>
              <th>Copter</th>
              <th>Hospital</th>
              <th>Destination</th>
              <th>Time left</th>
              <th>Time returned</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @histories.each do |history| %>
            <tr>
              <td><%= history.copter_id %></td>
              <td><%= history.hospital_id %></td>
              <td><%= history.destination_id %></td>
              <td><%= history.time_left %></td>
              <td><%= history.time_returned %></td>
              <td><%= link_to 'Show', history %></td>
              <td><%= link_to 'Edit', edit_history_path(history) %></td>
              <td><%= link_to 'Destroy', history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
      <div class="span8">
        <div class="fluid-span">
          <div class="row4">
            <h1>I'm a map</h1>

          </div>
          <div class="row8">

            <div class="container">

              <!-------->
              <div id="content">
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                  <li class="active"><a href="#history" data-toggle="tab">History</a></li>
                  <li><a href="#meds" data-toggle="tab">Meds</a></li>
                  <li><a href="#dest" data-toggle="tab">Destination</a></li>
                </ul>
                <div id="my-tab-content" class="tab-content">
                  <div class="tab-pane active" id="history">
                    <h1>Red</h1>
                    <p>red red red red red red</p>
                  </div>
                  <div class="tab-pane" id="meds">
                    <div style = "padding-right: 600px;">
                      <table class="table table-striped", id="medicines"> 
                        <thead>
                          <tr>
                            <th style="width: 7%"></th>
                            <th style="width: 40%">Name</th>
                            <th style="width: 36%">Restricted</th>
                            <th style="width: 10%">Quantity</th>
                            <th style="width: 7%"></th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @medicines.each do |medicine| %>
                          <tr>
                            <td><%= link_to raw('<i class="icon-edit"></i>'), edit_medicine_path(medicine), :class => 'btn btn-default' %></td>
                            <td><%= medicine.name %></td>
                            <td><%= medicine.restricted %></td>
                            <td><%= medicine.quantity %></td>
                            <td>        
                             <%= link_to raw('<i class="icon-remove"></i>'), medicine, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>

                           </td>
                         </tr>
                         <% end %>
                       </tbody>
                       <tfooter>
                        <tr>
                          <td><%= link_to "new medicine", new_medicine_path, id: "new_medicine_link", remote: true %></td>
                        </tr>
                      </tfooter>   
                    </table>
                  </div>
                </div>
                <div class="tab-pane" id="dest">
                  <h1>Yellow</h1>
                  <p>yellow yellow yellow yellow yellow</p>
                </div>
              </div>
            </div>


            <script type="text/javascript">
            jQuery(document).ready(function ($) {
              $('#tabs').tab();
            });
            </script>    
          </div> <!-- container -->


          <script type="text/javascript" src="../bootstrap/js/bootstrap.js"></script>

        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
