<div class="container">
	<div class="row" style="margin-top:60px">
		<p id="notice"><%= notice %></p>

		<div class="col-xs-8">
			<div class="row">
				<div id="content">
					<div id="map-canvas" style="height:400px; width:100%;"></div>
					<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
						<li class="active"><a href="#history" data-toggle="tab">History</a></li>
						<li><a href="#meds" data-toggle="tab">Meds</a></li>
						<li><a href="#dest" data-toggle="tab">Destination</a></li>
					</ul>
					<div id="my-tab-content" class="tab-content">
						<div class="tab-pane active" id="history">
							<h1>Red</h1>
							<p>red red red red red red</p>
						</div>
						<div class="tab-pane" id="meds">
							<table class="table table-striped", id="medicines">
								<tr>
									<th style="width: 7%"></th>
									<th style="width: 40%">Name</th>
									<th style="width: 36%">Restricted</th>
									<th style="width: 10%">Quantity</th>
									<th style="width: 7%"></th>
								</tr>

								<% @medicines.each do |medicine| %>
									<tr>
										<td><%= link_to raw('<i class="icon-edit"></i>'), edit_medicine_path(medicine), :class => 'btn btn-default' %></td>
										<td><%= medicine.name %></td>
										<td><%= medicine.restricted %></td>
										<td><%= medicine.quantity %></td>
										<td>
											<%= link_to raw('<i class="icon-remove"></i>'), medicine, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
										</td>
									</tr>
								<% end %>
								<tr>
									<td><%= link_to "new medicine", new_medicine_path, id: "new_medicine_link", remote: true %></td>
								</tr>
							</table>
						</div>
						<div class="tab-pane" id="dest">
							<h3>Penis</h3>
							<p>I like doodz</p>
						</div>
					</div>
				</div>

				<script type="text/javascript">
					$(function() {
						$('#tabs').tab();
					});
				</script>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="row" style="padding:0 10px">
				<h3>Add User</h3>
				<%= form_tag(user_path, method: 'post', class: 'form-inline') do %>
					<div class="form-group">
						<%= label_tag('user[name]', 'Name:', class: 'sr-only') %>
						<%= text_field('user', 'name', class: 'form-control', placeholder: 'Name') %>
					</div>

					<div class="form-group">
						<%= label_tag('user[phone_number]', 'Phone Number:', class: 'sr-only') %>
						<%= text_field('user', 'phone_number', class: 'form-control', placeholder: 'Phone Number') %>
					</div>
					<%= submit_tag('Add', class: 'btn btn-default') %>
				<% end %>

			</div>

			<ul class="nav nav-tabs">
				<li class="active"><a href="#admins" data-toggle="tab">Admins</a></li>
				<li><a href="#users" data-toggle="tab">Users</a></li>
				<li><a href="#restricted-users" data-toggle="tab">Restricted Users</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="admins">
					<table class="table table-striped">
						<tr>
							<th style="width: 7%"></th>
							<th style = "width: 40%">Name</th>
							<th style = "width: 36%">Phone number</th>
							<th style = "width: 10%">Priveledge</th>
							<th style = "width: 7%"></th>
						</tr>

						<% @admins.each do |user| %>
							<tr>
								<td><%= link_to raw('<i class="icon-edit"></i>'), edit_medicine_path(@medicine), :class => 'btn btn-default' %></td>
								<td><%= user.name %></td>
								<td><%= user.phone_number %></td>
								<td><%= user.priveledge %></td>
								<td>
									<%= link_to raw('<i class="icon-remove"></i>'), @medicine, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
								</td>
							</tr>
						<% end %>
					</table>
				</div>
				<div class="tab-pane" id="users">
					<table class="table table-striped">
						<tr>
							<th>Name</th>
							<th>Phone number</th>
							<th>Priveledge</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>

						<% @users.each do |user| %>
							<tr>
								<td><%= user.name %></td>
								<td><%= user.phone_number %></td>
								<td><%= user.priveledge %></td>
								<td><%= link_to 'Show', user %></td>
								<td><%= link_to 'Edit', edit_user_path(user) %></td>
								<td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
							</tr>
						<% end %>
					</table>
				</div>
				<div class="tab-pane" id="restricted-users">
					<table class="table table-striped">
						<tr>
							<th style="width: 7"></th>
							<th style="width: 36">Name</th>
							<th style="width: 40">Phone number</th>
							<th style="width: 10">Priveledge</th>
							<th style="width: 7"></th>
						</tr>

						<% @restricted_users.each do |user| %>
							<tr>
								<td><%= link_to raw('<i class="icon-edit"></i>'), edit_user_path(user), :class => 'btn btn-default' %></td>
								<td><%= user.name %></td>
								<td><%= user.phone_number %></td>
								<td><%= user.priveledge %></td>
								<td>
									<%= link_to raw('<i class="icon-remove"></i>'), user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
								</td>
							</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>