<h1>Listing medicines</h1>

<table>
  <thead>
    <tr>
      <th>Hospital</th>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
      <th>Restricted</th>
      <th>Quantity</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @medicines.each do |medicine| %>
      <tr>
        <td><%= medicine.hospital %></td>
        <td><%= medicine.name %></td>
        <td><%= medicine.type %></td>
        <td><%= medicine.description %></td>
        <td><%= medicine.restricted %></td>
        <td><%= medicine.quantity %></td>
        <td><%= link_to 'Show', medicine %></td>
        <td><%= link_to 'Edit', edit_medicine_path(medicine) %></td>
        <td><%= link_to 'Destroy', medicine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medicine', new_medicine_path %>
