<div id="new_destination_form">
  <%= form_for @destination, remote: true, :display => :inline do |f| %>
    <%= f.submit "Confirm", class: 'btn btn-success' %>
    <%= f.text_field :hospital_id, placeholder: "Hospital ID", class: "control" %>
    <%= f.text_field :name, placeholder: "Name" %>
    <%= f.text_area :description, placeholder: "Description" %>
    <%= f.text_field :latitude, placeholder: "Latitude" %>
    <%= f.text_field :longitude, placeholder: "Longitude" %>
  <% end %>
</div>