<p id="notice"><%= notice %></p>

<p>
  <strong>Hospital:</strong>
  <%= @destination.hospital_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @destination.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @destination.description %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @destination.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @destination.longitude %>
</p>

<%= link_to 'Edit', edit_destination_path(@destination) %> |
<%= link_to 'Back', destinations_path %>
